<h1>Would you like to work together?</h1>
<hr>
<div class="row">
  <h3>Phone</h3>
  <p><%= number_to_phone "988234794", country_code: 593 %></p>
  <h3>Email</h3>
  <p><a href="mailto:davidarmendariz1998@gmail.com">Email me</a></p>
</div>
